  @import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
*{
    overflow:hidden;
}
body{
    background-image: url(https://kq-storage.s3.ap-south-1.amazonaws.com/Github/astronaut/sky-moon-bg%5B1%5D.png);
    font-family: 'Exo 2', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 110vh;
}

form{
    background-color: azure;
    width: 350px;
    border-radius: 6px;
    padding: 10px 20px 30px 20px;
    position: absolute;
    right: 40px;
    top: 80px;
}

form h1{
    text-align: center;
    margin-right: 20px;
   }

label{
    display: block;
}

select, input{
    width: 250px;
    height: 30px;
    margin-top: 9px;
    margin-bottom: 20px;
}

.radio input{
    display: initial;
    width: auto;
    height: auto;
}

.rtext{
    margin-top: -15px;
}

.radio{
    margin-top: -20px;
    width: 300px ;
}

button{
    display: block;
    margin: 0px auto;
    color: white;
    background-color: rgb(255, 38, 0);
    border-radius: 20px;
    padding: 15px;
    border: none;
    margin-top: 20px;    
}

.main_form{
    width: 300px;
    margin-left: 30px;;
}

.departure{
    margin-top: 19px;
}

img{
    width: 400px;
    position: absolute;
}

.img1{
    top: 100px;
    margin-left: 50px;
    animation: float 3s ease-in infinite;
}

.img2{
    top: 250px;
    left: 300px;
    animation: float 3s ease-in infinite ;
}

.noof{
    margin-top: -5px;
}

.mail{
    margin-top: -5px;
}

.dep{
    margin-top: -5px;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
}